<h3>Mon adversaire, pseudo: {{myOppInfo.name}} life: {{myOppInfo.life}} mana: {{myOppInfo.mana}} current: {{myOppInfo.current}}</h3>
<h3>Cards In opponant board</h3>
<div class="grid grid-pad">
  <a *ngFor="let card of cardsInOpponantBorad" class="col-1-4" (click)="selectOppMin(card.uuid)">
    <div class="module hero">
      <h4>{{card.name}}</h4>
      <p>Att : {{card.att}}</p>
      <p>Life : {{card.life}}</p>
      <p>Description : {{card.description}}</p>
    </div>
  </a>
</div>

<h3>Cards In my board</h3>
<div class="grid grid-pad">
  <a *ngFor="let card of cardsInMyboard" class="col-1-4" (click)="selectMyMin(card.uuid)">
    <div class="module hero">
      <h4>{{card.name}}</h4>
      <p>Att : {{card.att}}</p>
      <p>Life : {{card.life}}</p>
      <p>Description : {{card.description}}</p>
    </div>
  </a>
</div>

<h3>Cards In my hand</h3>
<div class="grid grid-pad">
  <a *ngFor="let card of cardsHnd" class="col-1-4" (click)="oui(card.uuid)" >
    <div class="module hero">
      <h4>{{card.name}}</h4>
      <p>Mana cost : {{card.manaCost}}</p>
      <p>Description : {{card.description}}</p>
    </div>
  </a>
</div>
<button class="btn btn-success" (click)= "sendMyHand()" >Actualiser la main !</button>
<button class="btn btn-success" (click)= "sendMyBoard()" >Actualiser mon plateau !</button>
<button class="btn btn-success" (click)= "passMyTurn()" >Je passe mon tour</button>
<button class="btn btn-success" (click)= "invock()" >Invoquer la carte selectionnée</button>
<button class="btn btn-success" (click)= "sendMyoppBoard()" >Actualiser le plateau adverse !!!</button>
<button class="btn btn-success" (click)= "sendMyInfo()" >Actualiser les infos mon mon hero</button>
<button class="btn btn-success" (click)= "attack()" >lancer une atatque entre les deux crée selectionnés</button>
<h3>Mon hero, pseudo: {{myhrInfo.name}} life: {{myhrInfo.life}} mana: {{myhrInfo.mana}} current: {{myhrInfo.current}}</h3>
